@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");

:root {
  --very-dark-magenta: hsl(300, 43%, 22%);
  --soft-pink: hsl(333, 80%, 67%);
  --dark-grayish-magenta: hsl(303, 10%, 53%);
  --light-rayish-magenta: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-size: 15px;
  font-family: "Spartan", sans-serif;
  background-color: var(--white);
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: url("../images/bg-pattern-top-desktop.svg"),
    url("../images/bg-pattern-bottom-desktop.svg");
  background-position: 5% top, right bottom;
  background-repeat: no-repeat;
}

.sub-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
  width: 80%;
  height: 80%;
}
.product-description {
  width: 45%;
}

.product-description > h1 {
  color: var(--very-dark-magenta);
  font-weight: 700;
  font-size: 2.75rem;
  margin-bottom: 5%;
}

.product-description > p {
  color: var(--dark-grayish-magenta);
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.3rem;
  margin-right: 20%;
}

.rating {
  width: 55%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.star-cards {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  padding: 2.5%;
  background-color: var(--light-rayish-magenta);
  width: 80%;
  border-radius: 10px;
}

.rating > .star-cards:nth-child(1) {
  align-self: flex-start;
}
.rating > .star-cards:nth-child(2) {
  align-self: center;
}
.rating > .star-cards:nth-child(3) {
  align-self: flex-end;
}

.stars {
  margin-right: 7%;
  margin-left: 7%;
}
.star-cards > p {
  font-weight: 700;
  color: var(--very-dark-magenta);
}

.review {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0 4%;
}

.review-card {
  flex: 1;
  background-color: var(--very-dark-magenta);
  padding: 2.5%;
  border-radius: 10px;
  height: 80%;
}
.review > .review-card:nth-child(1) {
  align-self: flex-start;
  margin-bottom: 5%;
}
.review > .review-card:nth-child(2) {
  align-self: center;
}
.review > .review-card:nth-child(3) {
  align-self: flex-end;
}

.reviewer {
  display: flex;
  align-items: center;
}
.reviewer > img {
  border-radius: 50%;
  max-width: 48px;
}
.reviewer-name {
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.reviewer-name > h4 {
  color: var(--white);
  font-weight: 700;
  line-height: 1.75rem;
}
.reviewer-name > p {
  color: var(--soft-pink);
  font-weight: 500;
}
.review-card > p {
  margin-top: 8%;
  margin-bottom: 3%;
  color: var(--white);
  font-weight: 400;
  line-height: 1.35rem;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .container {
    height: auto;
  }
  .sub-container {
    width: 85%;
    margin-top: 15%;
  }
  .product-description {
    width: 100%;
    margin-bottom: 7%;
  }
  .product-description > h1 {
    font-size: 2rem;
    text-align: center;
  }
  .product-description > p {
    /* font-size: 2rem; */
    text-align: center;
    margin: 0;
  }
  .rating {
    width: 100%;
  }
  .rating > .star-cards:nth-child(1) {
    align-self: center;
  }
  .rating > .star-cards:nth-child(2) {
    align-self: center;
  }
  .rating > .star-cards:nth-child(3) {
    align-self: center;
  }
  .star-cards {
    width: 100%;
    margin: 3%;
    justify-content: center;
    padding: 3.5%;
    flex-direction: column;
    align-items: center;
  }
  .star-cards > p {
    padding: 1%;
    text-align: center;
  }
  .review {
    flex-direction: column;
    margin-top: 7%;
  }
  .review-card {
    margin-bottom: 5%;
    padding: 10% 7%;
  }
  .review-card > p {
    font-size: 0.9rem;
    margin-bottom: 0;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  body {
    /* background-color: blue; */
  }
  .product-description {
    width: 50%;
  }
  .product-description > h1 {
    font-size: 2.5rem;
  }
  .product-description > p {
    font-size: 0.8rem;
  }
  .rating {
    width: 50%;
  }
  .star-cards {
    flex-direction: column;
    align-items: center;
  }
  .stars {
    margin: 0%;
  }
  .review-card {
    height: auto;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  body {
    /* background-color: red; */
  }
  .product-description {
    width: 42%;
  }
  .product-description > h1 {
    font-size: 2.5rem;
  }
  .product-description > p {
    font-size: 0.8rem;
  }
  .rating {
    width: 58%;
  }
  .star-cards {
    justify-content: space-evenly;
  }
  .stars {
    margin: 0%;
  }
  .review-card {
    height: auto;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1400px) {
}
